.cell {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border: 1px solid white;
  color: white;
  font-size: 1rem;
  text-shadow: 1px 1px 2px black;
  background: transparent;
  user-select: none;
  z-index: 1;
}

.pointCells {
  display: grid;
  grid-template-columns: repeat(6, 80px);
  grid-template-rows: repeat(1, 80px);
}

.dontComeBarCell {
  display: grid;
  grid-template-columns: repeat(1, 60px);
  grid-template-rows: repeat(1, 80px);
}

.dontPassBarCell {
  display: grid;
  grid-template-columns: repeat(1, 60px);
  grid-template-rows: repeat(1, 220px);
}

.comeCell, .fieldCell {
  display: grid; 
  grid-template-columns: repeat(1, 460px);
  grid-template-rows: repeat(1, 70px);
}

.cellBet {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
}

.cellBet .chip {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: 1px solid #000;
}

.highlight {
  box-shadow: 0 0 15px 5px yellow;
  transform: scale(1.1);
  transition: all 0.3s ease;
}