.table {
    width: 640px;
    height: 220px;
    position: relative;
}

.innerContainer {
    display: flex;
    position: absolute;
    top: 20px;
    right: 0px;
}

.topRowContainer {
    display: block;
}

.topRow {
    display: flex;
    align-items: center;
}